/*
Name: Stuart Tomkins
Email: stuart_tomkins@cs.uml.edu
UMass Lowell 91.461 GUI Programming I
Date Created: 11/30/16
Date Submitted: 12/6/16
Description: In this assignment we added JQuery UI elements such as a slider
for each input and tabs for the tables.
*/

#draggable-1, #draggable-2, #draggable-3, #draggable-4,
#draggable-5, #draggable-6, #draggable-7
{
  width: 50px;
  height: 50px;
  padding: 5px;
  float:left;
  display:inline;
}

.ui-widget-header
{
  width: 50px;
  height: 50px;
  padding: 5px;
  float:left;
  display:inline;
}

#board
{
  margin-top:10px;
  margin-bottom: 50px;
  height: 60px;
}

#rack
{
  margin-top: 10px;
  height: 60px;
}

#letterDist1, #letterDist2
{
  height: 130px;
  float:left;
  display:inline;
  margin: 10px;
}

#letterDist1 p, #letterDist2 p
{
  margin: 0;

}
